.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto; 
}
.homeWrapper{
  width: 1590px;
  max-width: 100%; 
}

.topSection { 
  display: flex;
  justify-content: space-between;
}
.tableSection {
  width: 100%; 
  max-width: 1920px; 
  height: 770px;
  flex-shrink: 0;
  background: #0B0F15;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}
.left {
  text-align: left;
}

.smallText {
  width: 380px;
  display: flex;
  font-size: 16px;
  color: #4ACDFE;
  vertical-align: center;
  display: inline-flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: radial-gradient(107.69% 100.00% at 50.00% 0.00%, #131A2E 0%, #111624 100%);
}
.largeText {
  color: #D5EAFF;
  font-size: 72px;
  font-style: normal;
  font-weight: 465;
  line-height: 80px; 
  letter-spacing: -1.44px;
}

.right {
  width: 640px;
  height: 283px;
}

.image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit:fill;
}
.signIn {
  display: flex;
  position: relative;
  width: 420px;
}

.emailInput {
  display: flex;
  width: 100%;
  padding: 10px 24px 10px 16px;
  margin-top: 48px;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  background: url('../images/mail.svg') no-repeat 10px center, radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #252B3D 100%);
  padding-left: 40px; 
}

.signInButton {
  position: absolute;
  top: 48px;
  right: 0;
  border-radius: 6px;
  background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #66CBF9 0%, #0FB5FF 100%);
  color: #08090B;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}
.signInButton:hover
{
	border-radius: 6px;
	background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #1E253C 100%);
  color: #fff;
}
.tableContainer {
  width: 100%;
  margin-top: 80px;
}

.assetTable {
  width: 100%;
  height: 523px;
  flex-shrink: 0;
  border-radius: 16px;
  border-collapse: separate;
  background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #131820 0.01%, #0F151E 100%);
  padding: 0 25px;
}

.assetTable th,
.assetTable td {
  height: 76px; 
  text-align: left; 
  color: #C7E1FF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.5px;
}
.assetTable td, .assetTable th  {
  border-bottom: 2px solid #ffffff0a; 
}
.assetTable th {
  color: #6D799C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.assetTable tr:last-child td {
  border-bottom: none; 
}
.assetWrapper {
  display: flex;
  align-items: center; 
}

.assetName {
  margin-left: 10px;
}


.assetTable th:nth-child(1), .assetTable td:nth-child(1) { width: 55%; } 
.assetTable th:nth-child(2), .assetTable td:nth-child(2) { width: 15%; } 
.assetTable th:nth-child(3), .assetTable td:nth-child(3) { width: 15%; } 
.assetTable th:nth-child(4), .assetTable td:nth-child(4) { width: 10%; } 
.assetTable th:nth-child(5), .assetTable td:nth-child(5) { width: 5%; } 

.tradeButton {
  border-radius: 6px;
  border: 1px solid #2FBDFC;
  color: #2FBDFC;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: transparent;
  cursor: pointer;
}
.tradeButton:hover{
  background: var(--1, radial-gradient(100.04% 100.00% at 50.00% 0.00%, #66CBF9 0%, #0FB5FF 100%));
  color: #08090B;
}
.assetTable img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.baseName {
  color: #525A71;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  margin: 5px 0 0 5px;
}

.allAssetsButton {
  display: flex;
  width: 1600px;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  margin-top: 16px;
  background: radial-gradient(100.04% 100.00% at 50.00% 0.00%, #26314E 0%, #1E253C 100%);
  cursor: pointer; 
  border: none; 
  outline: none; 
  color: #CEE7FF;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.allAssetsButton:hover
{
  background: var(--1, radial-gradient(100.04% 100.00% at 50.00% 0.00%, #66CBF9 0%, #0FB5FF 100%));
  color: #08090B;
}

.guideSection {
  height: 443px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

.leftGuide {
  width: 680px;
  text-align: left; 
  padding: 0; 
}

.title {
  color: #D5EAFF;
  font-size: 48px;
  font-weight: 445;
  line-height: 64px; 
  letter-spacing: -0.96px;
  margin-bottom: 16px;
}

.subtext {
  width: 640px;
  color: #464E62;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160.023%; 
}

.rightGuide {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  column-gap: 40px; 
  row-gap: 80px;
  margin-left: 225px;
}

.logo {
  width: 240px;
  height: 48px;
}

.logo:nth-child(1), .logo:nth-child(3) {
  margin-left: -20px; 
}
.logo:nth-child(5){
  margin-left: -10px; 
}
.logo:nth-child(6) {
  margin-left: 60px; 
}
.logo:nth-child(2), .logo:nth-child(4) {
  margin-left: 40px; 
}


.cardSection {
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  column-gap: 100px;
  row-gap: 80px;
  margin-bottom: 76px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.cardIcon {
  width: 60px;
  height: 48px;
  margin-bottom: 24px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 160.023%;
  margin-bottom: 8px;
}

.cardSubtext {
  font-size: 16px;
  font-weight: 400;
  line-height: 160.023%;
}

.registerSection {
  height: 473px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registerPrompt {
  width: 680px;
  color: #D5EAFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 445;
  line-height: 64px; 
  letter-spacing: -0.96px;
}
